<%- include('header') %>
<div class="row mb-4">
  <div class="col-6">
    <h4><%= title %></h4>

    <% /* let items =['Apple','Banana','Cherry'] */ %>

    <!-- this ul views from the index page -->
    <!-- <ul>
      <li><%= /* item */ _%></li>
    </ul> -->

    <table class="table">
      <% items.forEach(item => { %>
      <tr>
        <td><%= item.name _%></td>
        <td><%= item.age _%></td>
        <td><%= item.city _%></td>
      </tr>
      <% }) %>
    </table>

    <%/* if(message) { */%>
    <p><%= /* message */ %></p>
    <% /* } else { */%>
    <!-- <span>There is no message</span> -->
    <% /* } */ %>
  </div>
  <div class="col-6">
    <img src="images/horse_wallpaper.jpg" alt="" width="90%" height="60%">
  </div>
</div>
<%- include('footer') %>